@font-face {
    font-family: 'gotham_condensed_bookregular';
    src: url('fonts/gothamcondensed-book-webfont.eot');
    src: url('fonts/gothamcondensed-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothamcondensed-book-webfont.woff2') format('woff2'),
         url('fonts/gothamcondensed-book-webfont.woff') format('woff'),
         url('fonts/gothamcondensed-book-webfont.ttf') format('truetype'),
         url('fonts/gothamcondensed-book-webfont.svg#gotham_condensed_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gotham_condensed_lightregular';
    src: url('fonts/gothamcondensed-light-webfont.eot');
    src: url('fonts/gothamcondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothamcondensed-light-webfont.woff2') format('woff2'),
         url('fonts/gothamcondensed-light-webfont.woff') format('woff'),
         url('fonts/gothamcondensed-light-webfont.ttf') format('truetype'),
         url('fonts/gothamcondensed-light-webfont.svg#gotham_condensed_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



body{
	background: #0059A7;
	color: white;
	font-family: 'gotham_condensed_lightregular', "Helvetica Neue", Helvetica, Arial, sans-serif;

	-webkit-font-smoothing: antialiased;
}


.gradiente{
	text-align: center;

	background: rgba(122,178,216,1);
	background: -moz-linear-gradient(top, rgba(122,178,216,1) 0%, rgba(0,103,172,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(122,178,216,1)), color-stop(100%, rgba(0,103,172,1)));
	background: -webkit-linear-gradient(top, rgba(122,178,216,1) 0%, rgba(0,103,172,1) 100%);
	background: -o-linear-gradient(top, rgba(122,178,216,1) 0%, rgba(0,103,172,1) 100%);
	background: -ms-linear-gradient(top, rgba(122,178,216,1) 0%, rgba(0,103,172,1) 100%);
	background: linear-gradient(to bottom, rgba(122,178,216,1) 0%, rgba(0,103,172,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ab2d8', endColorstr='#0067ac', GradientType=0 );
}



.logo__container{
	width: 100%;
	background: white;
	padding: 10px 0;
	margin: 0 auto 20px auto;
}

@media(min-width: 768px){
	.logo__container{
		width: 650px;
		margin: 0 auto 50px auto;
	}
}




.logo{
	width: 170px;
}

@media(min-width: 768px){
	.logo{
		width: auto;
	}
}





.txt{
	font-size: 20px;
	line-height: 40px;
	margin-top: 0;
	margin-bottom: 20px;
}

.txt span{
	font-family: 'gotham_condensed_bookregular';
	font-size: 60px !important;
	display: block;
	text-transform: uppercase;
}


@media(min-width: 768px){
	.txt{
		font-size: 36px;
		line-height: 79px;
	}

	.txt span{
		font-size: 150px !important;
		margin-bottom: 15px;
	}
}


.form__input{
	font-family: 'gotham_condensed_bookregular';
	background: #005690;
	width: 100%;
	height: 50px;
	text-align: center;
	margin: 0 auto 10px auto;
	display: block;
	border: none;
	outline: 0;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	border: solid 2px #005690;
	box-sizing: border-box;
	-webkit-appearance: none;
	
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
}

.form__input:focus{
	border: solid 2px rgba(255,255,255,.7);
}


@media(min-width: 768px){
	.form__input{
		width: 470px;
		font-size: 24px;
	}
}

.form__btn{
	font-family: 'gotham_condensed_bookregular';
	background: #E3012D;
	height: 50px;
	text-align: center;
	border: none;
	outline: 0;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	padding: 0 30px;
	text-transform: uppercase;
	width: 100%;
	margin-bottom: 30px;
	display: inline-block;
	line-height: 50px;
	
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
}

.form__btn:hover, .form__btn:focus{
	background: #B30225;
	text-decoration: none;
	color: white;
}


@media(min-width: 768px){
	.form__btn{
		width: auto;
	}
}





.hashtag{
	color:#7BABD5;
	font-size: 26px;
	position: absolute;
	top: -45px;
	left: 50%;
	margin-left: -75px;
}

@media(min-width: 768px){
	.hashtag{
		color:#7BABD5;
		font-size: 46px;
		position: absolute;
		top: -100px;
		margin-left: -133px;
	}
}


    


.img-resp{
	max-width: 100%;
}


.footer{
	background: white;
	padding: 20px 0;
	position: relative;
}

.footer__enlaces-container{
	margin-top: 10px;
	margin-left: -20px;
}

/*@media(min-width: 1200px){
	.footer__enlaces-container{
		position: absolute;
		right: 15px;
		top: 17px;
		margin-top: 0;
	}
}*/

.footer__enlace{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #AAA;
	margin-left: 20px;
	font-size: 12px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
}

.footer__enlace:hover{
	color: #E3012D;
}


.error{
	border-color: #E3012D;
}

.error:focus{
	border-color: #E3012D;
}



